@keyframes slideFromRight {

    0% {

        transform: translateX(1000px);
    }

    100% {

        transform: translateX(0%);
    }
}
@keyframes slideFromLeft {

    0% {

        transform: translateX(-1000px);
    }

    100% {

        transform: translateX(0%);
    }
}
@keyframes slideFromTop {

    0% {

        transform: translateY(-100%);
    }

    100% {

        transform: translateY(0%);
    }
}
@keyframes slideFromBottom {

    0% {

        transform: translateY(100%);
    }

    100% {

        transform: translateY(0%);
    }
}
@keyframes zoomOut {

    0% {

        transform: scale(.1);
        opacity: 0.1;

    }

    100% {

        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeOut {

    0% {

        opacity: 0;

    }

    50% {

        opacity: 0.4;
    }

    100% {

        opacity: 1;
    }
}
@keyframes zoomOut {

    0% {

        transform: scale(.1);
        opacity: 0.1;

    }

    100% {

        transform: scale(1);
        opacity: 1;
    }
}
