body{

    margin: 0;
    padding: 0;
}

ul li{

    list-style: none;
}

a{

    text-decoration: none;
}

div{

    border: none;
}

section{

    border: none;
}

.flex-container{

    border-color: aqua;
}

#tracker .track-tips {

    border: none;
}







