body{

    margin: 0;
    padding: 0;
}

ul li{

    list-style: none;
}

a{

    text-decoration: none;
}

div{

    border:1px solid black;
}

section{

    border:none;
}

header div{

    border: none;
}

#tracker div{

    border: none;
}

#clipboard div{

    border: none;
}


#supercharge div{

    border: none;
}

#ios-mac-clipboard div{

    border: none;
}

.flex-container{

    border: none;
}

footer{

    border: none;
}

footer div{

    border: none;
}








